<link rel="stylesheet" href="/Users/colemancapsule/Documents/RRCWEBD3008/collectors_club_v3/app/assets/stylesheets/shop.css">

<div class="container">
<h3>Search By Keyword: </h3>
<form action="/search">
  <input name="q" type="text" placeholder="Search">
  <label for="ccs">Choose a category:</label>
  <select id="ccs" name="ccs">
    <option value="">All</option>
    <option value="1">Sealed Prouct</option>
    <option value="2">Graded Cards</option>
    <option value="3">Singles</option>
  </select>
  <button type="submit">Search</button>
</form>



<h2 style="text-align: center">Categories</h2>
<div class="container text-center">
  <div class="row">
  <% @categories.each do |category| %>
    <div class="col">
    <a href="/product/<%= category.id %>"><%= category.name %></a>
    </div>


  <% end %>
  <div class="col">
    <a href="/shop">Shop All</a>
  </div>
</div>
</div>






  <div class="container">
    <div class="d-flex flex-wrap justify-content-between">
      <% @products.each do |product| %>

        <div class="card mb-5" style="width: 18rem;">
          <img class="card-img-top" src="<%= product.image%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= product.name%></h5>
            <p class="card-text"><%= product.description%></p>
            <a href="/shop/<%= product.id%>" class="btn btn-primary">Go somewhere</a>




            <% if cart.include?(product) %>
              <%= button_to cart_path(product), method: :delete do%>
              Remove from cart -
              <% end %>
          <% else %>
              <%= form_with url: cart_index_path, method: :post do%>
                <%= hidden_field_tag(:id, product.id) %>
                <%= button_tag 'Add to Cart'%>
              <% end %>
            <% end%>
          </div>
        </div>

      <% end %>

    </div>
  </div>

  <div class='container d-flex justify-content-center'>
  <div class='mb-5'>
  <%= paginate @products%>
  </div>


  </div>



