<link rel="stylesheet" href="/Users/colemancapsule/Documents/RRCWEBD3008/collectors_club_v3/app/assets/stylesheets/shop.css">
<div class='container'>

<%= render "/categories/searchbar"%>

<div class='container'>
<h2 style="text-align: center">Categories</h2>
<div class="container text-center">
  <div class="row">
  <% @categories.each do |category| %>
    <div class="col">
    <a class="btn btn-outline-primary mb-3 mt-3" href="/product/<%= category.id %>"><%= category.name %></a>
    </div>


  <% end %>
  <div class="col">
    <a class="btn btn-outline-primary mb-3 mt-3" href="/shop">Shop All</a>
  </div>
</div>
</div>

<p>Current Category: <%= @category.name%></p>

<%= render "/categories/product"%>
</div>
</div>
