<h3 style="text-align: center">Categories</h3>
<div class="container text-center">
  <div class="row">
  <% @categories.each do |category| %>
    <div class="col">
    <a href="/product/<%= category.id %>"><%= category.name %></a>
    </div>


  <% end %>
  <div class="col">
    <a href="/shop">Shop All</a>
  </div>
</div>
</div>

<p>Current Category: <%= @category.name%></p>

<div class="section-shop">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between">
      <% @products.each do |product| %>

        <div class="card mb-5" style="width: 18rem;">
          <img class="card-img-top" src="<%= product.image%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= product.name%></h5>
            <p class="card-text"><%= product.description%></p>
            <a href="/shop/<%= product.id%>" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      <% end %>

    </div>

  </div>
</div>
