<!DOCTYPE html>
<html>
  <head>
    <title>CollectorsClubV3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>

  <% if flash[:notice] %>
    <p><%= flash[:notice]%></p>
  <% end %>

  <p>
  <%= debug session[:shopping_cart]%>
</p>
   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>

    <div class='mt-5'>
    <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
